<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">JosThemePlugin</label>
    <label lang="en">JosThemePlugin</label>
    <version>1.0.1</version>
    <copyright>Copyright (c) 2020 Thomas Neef</copyright>
    <license>proprietary</license>
    <link>http://www.neefit.de</link>
    <author>Thomas Neef</author>
    <compatibility minVersion="5.5.0"/>
    <changelog version="1.0.0">
        <changes lang="de"><![CDATA[First initial Version]]></changes>
        <changes lang="en"><![CDATA[First initial Version]]></changes>
    </changelog>
</plugin>
